<h1>TODO Demo</h1>

<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="config">{{ config.env }}</p>
<p *ngIf="!config"><em>Loading Configs...</em></p>

<p *ngIf="!items"><em>Loading...</em></p>

<table class='table' *ngIf="items">
    <thead>
        <tr>
            <th>Id</th>
            <th>Completed?</th>
            <th>Description</th>
            <th>Dedline</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.itemId }}</td>
            <td>{{ item.completed }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.deadline }}</td>
        </tr>
    </tbody>
</table>
